.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ============================================ Banner == */

div.banner {
  width: 100%;
  height: 4em;
  top: 0;
  background-color: #605577;
  display: inline-block;
  /* position: relative; */
}

div.banner-inner {
  color: lightskyblue;
  font-size: 15pt;
  margin-left: 1em;
  /* position: relative; */
}

/* ============================================ GENERAL == */

div {
  display: block;
}

div.app-content {
  margin: 1em 2em; /* vertical/horizontal */
}

div.outer {
  margin: 0 auto;
  padding: 0;
}

/* ============================================ List Summary == */
img {
  height: inherit;
  width: inherit;
  object-fit: cover;
}

div.poster-image {
  height: 350px;
  width: 225px;
  display: inline-block;
  position: relative;
}

div.overlay-dim {
  background-color: rgba(0,0,0,0.8);
  color: white;
  text-align: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity .3s;
}

div.overlay-dim:hover {
  opacity: 1;
  transition: opacity .3s;
}

/* div.item-info {
  background-color: #D0D7FF;
  color: black;
  text-align: left;
  padding: 20px;
  position: fixed;
  display: block;
  z-index: 99;
  bottom: 50px;
} */

span.field-name {
  color: grey;
  font-weight: bold;
}

/* ============================================== */