/* https://www.canva.com/colors/color-palettes/garden-blur/ */
/* https://www.canva.com/colors/color-palettes/ivy-swipe/ */
/* https://www.canva.com/colors/color-palettes/cherry-blossom-canopy/ */
/* https://coolors.co/bfb5af-ece2d0-d5b9b2-a26769-582c4d */
/* https://coolors.co/d88c9a-f2d0a9-f1e3d3-99c1b9-8e7dbe */
/* https://coolors.co/393d3f-f8f1ff-ecd444-62929e-546a7b */
/* https://coolors.co/e2c044-777da7-161925-b8dbd9-f8f1ff */


/* ============================================ GENERAL == */

body {
  background-color: #151515;
  clear: both;
  position: relative;
  min-height: 100vh;
} 


div {
  display: block;
}

div.app-content {
  margin: 0 2em; 
  padding-bottom: 15em; /* footer height */
}

div.outer {
  margin: 0 auto;
  padding: 0;
}

button {
  padding: 0 0.5em;
}

a {
  color: #F3EAC0;
}

h1, h2, h3, p, label, li {
  color: white;
}

/* ============================================ Announcement bar == */

.announcement {
  width: 100%;
  background-color: #E2C044;
  color: black;
  float: left;
  position:relative
}

span.announcement-text {
  margin: 0.5em 1em;
  position: absolute;
}

/* The close button */
span.announcement-close {
  color: black;
  font-weight: bold;
  float: right;
  font-size: 20pt;
  transition: 0.2s;
  cursor: pointer;
  margin-right: 1em;
}

.announcement-close:hover {
  color: white;
}

/* ============================================ Banner == */

div.banner {
  width: 100%;
  /* height: auto; */
  /* top: 0; */
  background-color: #301B3F;
  /* padding: 1em 0; */
  display: inline-block;
  position: relative;
}

div.banner-inner {
  color: white;
  margin: 0 1em;
  
  display: inline-block;
}

div.top-banner {
  font-variant: small-caps;
}

#profile-card {
  /* float: right; */
  text-align: right;
  position: relative;
  bottom: 0;
  right: 0;
  margin-right: 1em; 
  position: absolute;
  color: white;
  display: inline-block;
}



/* ============================================ Session == */

div.landing {
  text-align: center;
  position: relative;
  margin: 10% 25%;
  min-width: 10em;
}

input[type=text].session {
  font-size: 20pt;
  text-align: center;
  width: 100%;
  padding: 0.5em;
  margin: 10px 0;
}

div.session-banner {
  text-align: center;
  width: 100%;
  height: auto;
  top: 0;
  background-color: #3C415C;
  position: relative;
}

div#session-banner-content {
  position: relative;
  padding: 1em;
  top: 25%;
  bottom: 25%;
}

input[type=text].session-banner {
  text-align: center;
  width: 60%;
  padding: 0.5em;
  /* margin: 10px 0; */
}

button#session-leave {
  position: absolute;
  left: 0;
  top: 0;
  margin: 1em;
}
button#session-share {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1em;
}

/* ============================================ Sign In == */
form {
  padding: 1em;
}

div.sign-in {
  text-align: center;
  padding: 1em 0;
}

input[type=text].signin {
  text-align: center;
}


/* ============================================ User List == */

div.user-list {
  border: solid 2px;
}

/* ============================================ List Summary == */
.summary.alt {
  text-align: center;
}

img {
  height: inherit;
  width: inherit;
  object-fit: cover;
}

div.poster-image {
  height: 318px;
  width: 225px;
  display: inline-block;
  position: relative;
  padding: 0.5em;
}

div.overlay-dim {
  background-color: rgba(0,0,0,0.8);
  color: white;
  text-align: center;
  height: inherit;
  width: inherit;
  opacity: 0;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  transition: opacity .3s;
}

div.overlay-dim:hover {
  opacity: 1;
  transition: opacity .3s;
}

div.item-tier {
  padding: 1em;
  margin-left: auto;
}

span.field-name {
  color: grey;
  font-weight: bold;
  font: small-caps;
}

.tier-content {
  margin: 0 1em;
  display: none
}

.tier-content.open {
  display: block
}

.collapsible {
  cursor: pointer;
  background: #3C415C;
  border-radius: 4pt;
  border: none;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 12pt;
}

.collapsible.open, .collapsible:hover {
  background-color: #3c415c80;
}

/* ============================================ Credits footer == */

div#footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #3C415C;
}

.footer-inner {
  padding: 1em 3em 3em 3em;
  vertical-align: top;
  text-align: center;
  display: inline-block;
  color: #392c53;
}


/* ============================================ Loading == */

#popup-loading {
  z-index : 500;   
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#popup-content {
  max-width: 50%;
  min-width: 200px;
  max-height: 300px;
  min-height: 150px;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  text-align: center;
}

/* ============================================== */